@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto+Condensed:300,400,700');
 .carousel, .item, {
 height: 550px;
}
.carousel-inner {
	height: 550px;
}
.carousel-inner {
	height: 550px;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
	width: 100%;
	height: 550px;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
	margin:0px;
	padding:0px;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	line-height:22px;
	color:#4e4e4e;
}
img {
	max-width:100%;
	height:auto
}
.header-cont {
	width:100%;
	float:left;
	padding:5px 0px;
	background-color:rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	z-index:1;
	position:fixed;
}
.logo {
	text-align:left;
}
.header-right {
}
.header-row1 {
	color:#000000;
	font-size:13px;
}
.header-row1 span {
	margin-right:15px;
}
.top-social {
	margin-right:0px;
}
.top-social ul {
	margin:0px;
	padding:0px;
	float: right;
}
.top-social ul li {
	list-style:none;
	text-align:center;
	line-height:25px;
	display:inline-block;
}
.top-social ul li a {
	color:#222222;
	width:25px;
	height:25px;
	border:#222222 solid 2px;
	display:block;
	border-radius:50%;
}
.top-social ul li a:hover {
	background:#222222;
	color:#ffffff;
}
.phone {
}
a, button {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.header-row2 {
	width:100%;
	float:left;
	margin-top:20px;
}
.orion-menu {
	margin-top: 0px;
	margin-bottom:0px;
}
.orion-menu {
	width: 100%;
	padding: 0;
	position: relative;
	float: left;
	list-style: none;
	text-transform:uppercase;
}
.orion-menu li {
	display: inline-block;
	font-size: 14px;
	margin: 0;
	line-height: 20px;
	position: relative;
	padding:0px 0px 0px 0px;
	font-weight:400;
	float:left;
}
.orion-menu li:last-child {
	background:none;
}
.orion-menu li ul li {
	background:none;
	padding: 0px;
}
.orion-menu li ul {
	margin-left:5px;
}
.orion-menu li a {
	padding:5px 19px 5px 19px;
	color: #222222;
	text-decoration: none;
	display: inline-block;
	-o-transition: color .3s linear, background .3s linear;
	-webkit-transition: color .3s linear, background .3s linear;
	-moz-transition: color .3s linear, background .3s linear;
	transition: color .3s linear, background .3s linear;
}
.orion-menu li:hover > a {
	color: #ffffff !important;
	background:#00a0e5;
	text-decoration:none;
}
.orion-menu li.active > a {
	background: #ffffff;
}
.orion-menu ul li a {
	color:#ffffff;
}
/* DROPDOWN */
.orion-menu ul, .orion-menu ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	z-index: 999;
	width: 310px;
	background: #222222;
}
.orion-menu ul {
	top: 30px;
	left: -5px;
}
.orion-menu ul li ul {
	top: 0;
	left: 150px;
}
.orion-menu ul li {
	clear:both;
	width:100%;
	font-size:13px;
	text-align:left;
	text-transform:none;
	float:left;
}
.orion-menu ul li a {
	width:100%;
	padding:9px 15px;
	display:inline-block;
	clear:both;
	border-bottom:#2e2e2e solid 1px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.orion-menu ul li a:hover {
	background:#2e2e2e;
}
.orion-menu ul li:hover > a {
}/* DROPDOWN ARROWS*/
.orion-menu .indicator {
	color: #ffffff;
	position: absolute;
	right: 8px;
	top: 24px;
	font-family: 'FontAwesome';
	font-size: 12px;
}
.orion-menu .indicator {
	background-color: #ffffff;
	cursor: pointer;
	display: block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 20px;
	right: 20px;
	text-align: center;
	top: 18px;
	color:#000000;
	width: 20px;
	display:none;
}
.orion-menu .indicator:before {
	content: "\f0d7";/*display:none;*/
}
.orion-menu ul li .indicator {
	right: 20px;
	top: 13px;/*display:none;*/
}
.orion-menu ul li .indicator:before {
	content: "\f0da";/*display:none;*/
}
/* COLLAPSIBLE CONFIGURATION */
.orion-menu > li.showhide {
	display: none;
	width: 100%;
	height: 35px;
	cursor: pointer;
	color: #ffffff;
	/*background:url(../images/menu-bg.jpg) repeat-x;*/
}
.orion-menu > li.showhide span.title {
	margin: 7px 0 0 18px;
	float: left;
}
.orion-menu> li.showhide span.icon {
	margin: 9px 20px;
	float: right;
}
.orion-menu > li.showhide .icon em {
	margin-bottom: 3px;
	display: block;
	width: 20px;
	height: 2px;
	background: #ffffff;
}
.overlay {
	background: url(images/overlay-bg.html) repeat;
	width: 150px;
	height: 120px;
	position: absolute;
	display: none;
	left: 0;
	top: 0;
}
/* red */


 @media only screen and (max-width: 1023px) {
.orion-menu li {
	background:none;
}
.content {
	margin: 0px auto;
}
.orion-menu {
	margin: 0;
	display: block;
	position:relative !important;
	left:0px;
	z-index:99;
}
.orion-menu li {
	display: block;
	width: 100%;
	font-size:14px;
}
.orion-menu > li > a {
	padding: 10px 70px 10px 18px;
	text-align: left;
	border-top: solid 1px rgba(255, 255, 255, 0.05);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	color:#ffffff;
}
.orion-menu a {
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.orion-menu ul, .orion-menu ul li ul {
	width: 100%;
	left: 0;
	padding: 0 20px;
	position: static;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.red, .red li ul {
	margin-left:0px;
	padding: 0px;
}
.orion-menu .indicator {
	right: 20px;
	top: 13px;
}
.orion-menu ul li .indicator {
	display: block !important;
}
.orion-menu ul li .indicator:before {
	content: "\f0d7";
}
.orion-menu .indicator {
	display:block !important;
}
.orion-menu .indicator {
	background-color: #ffffff;
	border-radius: 0;
	color: #2e2e2e;
	cursor: pointer;
	display: none;
	font-size: 16px;
	height: 42px;
	line-height: 42px;
	right: 20px;
	text-align: center;
	top: 18px;
	width: 50px;
	right: 0;
	top: 0;
}
.red, .red li ul {
	background:#222222 !important;
}
}
.download-btn {
	background:#f0ab00;
	color:#ffffff !important;
	font-family: 'Roboto Condensed', sans-serif;
}
.slider-cont {
	width:100%;
	float:left;
}
.home-services-cont {
	width:100%;
	float:left;
	background:#f8f8f8;
	padding:25px 0px;
}
.home-header {
	width:100%;
	float:left;
	position:relative;
}
.home-services-cont .nav-tabs {
	text-align:center;
}
.home-services-cont .nav-tabs li {
	text-transform:uppercase;
	font-size:25px;
	text-align:center;
}
.home-services-cont .nav-tabs > li {
	float: none;
	margin-bottom: auto;
	display: inline-block;
}
.home-services-cont .nav > li > a {
	position: relative;
	display: block;
	padding: 2px 15px;
	background:#00a0e5;
	border:none;
	border-radius:0px;
	color:#ffffff;
}
.home-services-cont .nav > li > a:hover {
	background:#f0ab00;
	color:#ffffff;
	border:none;
}
.home-services-cont .nav > li > a:focus {
	border:none;
}
.home-services-cont .nav-tabs > li.active > a {
	background:#f0ab00 !important;
	color:#ffffff;
	border:none;
}
.home-heading {
	width:100%;
	float:left;
	margin-top:60px;
	color:#222222;
	text-transform:uppercase;
	margin-bottom:40px;
}
.home-heading span {
	padding-left:47px;
	background:url(../images/line.jpg) left no-repeat;
	font-size:20px;
	font-weight:500;
}
.home-heading h1, .home-heading h2, .home-heading h3, .home-heading h4, .home-heading h5, .home-heading h6 {
	font-size:47px;
	font-family: 'Roboto Condensed', sans-serif;
}
.services {
	text-align:center;
	color:#4e4e4e;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.services:hover {
	background:#ffffff;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
.services-txt {
	min-height:90px;
}
.services p {
	margin-bottom:25px;
}
.services a {
	color:#222222
}
.services-heading {
	font-size:25px;
	color:#222222;
	text-transform:uppercase;
	margin-top:30px;
}
.arrow {
	text-align:right;
}
.boderright {
	border-right:#dddddd solid 1px;
}
.bodertop {
	border-top:#dddddd solid 1px;
}
.welcome-cont {
	width:100%;
	float:left;
	padding-top:40px;
	padding-bottom:40px;
}

.welcome-heading
{
	margin-top:40px;
}
.welcome-heading h2 {
	font-size:67px;
	color:#f0ab00;
	font-weight:400;
	line-height:65px;
	margin-top:10px;
}
a:hover {
	text-decoration:none;
}
.readmore {
	margin-top:20px;
	font-size:17px;
	color:#222222;
}
.readmore a:hover {
	color:#000000;
}
.counts-cont {
	width:100%;
	float:left;
	background:#f0ab00;
	padding-top:30px;
	padding-bottom:15px;
	color:#ffffff;
	font-size:22px;
}
.counts {
	text-align:center;
}
.counts p {
	margin-bottom:15px;
}
.counts i {
	font-size:50px;
}
.count-number {
	font-size:34px;
	font-weight:500;
}
.testimonials-cont {
	width:100%;
	float:left;
	background:url(../images/testimonials-bg.jpg) no-repeat;
	background-size:100% cover;
}
/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


#fade-quote-carousel.carousel .carousel-indicators {
	bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
	background-color: #e84a64;
	border: none;
}
#fade-quote-carousel blockquote {
	text-align: center;
	border: none;
}
#fade-quote-carousel .profile-circle {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 100px;
}
#fade-quote-carousel .item {
	height:auto;
}
#fade-quote-carousel .carousel-inner {
	height:auto;
}
.testimonials-cont {
	color:#ffffff;
}
.testimonials-cont .item {
	margin-top:15px;
	text-align:center;
	margin-bottom:15px;
}
.white-heading {
	color:#ffffff;
}
.profile-circle img {
	width:100px;
	height:100px;
	border-radius:50%;
	border:#ffffff solid 4px;
}
#fade-quote-carousel .carousel-indicators {
	position:relative;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
	background-color: #f0ab00;
}
.clinets-cont {
	width:100%;
	float:left;
	padding-bottom:40px;
}
.client-logo {
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}
.home-blog-cont {
	width:100%;
	float:left;
	margin-bottom:30px;
}
.small-blog-thumb {
	width:100%;
	float:left;
	background:#f0ab00;
}
.small-blog-thumb-img {
	width:100%;
	float:left;
}
.small-blog-thumb-txt {
	width:100%;
	float:left;
	background: url(../images/corner.png) #f0ab00 right bottom no-repeat;
	padding:10px;
	font-size:18px;
}
.small-blog-thumb-txt .label-default {
	background:#222222;
	border-radius:0px;
	font-weight:300;
	font-size:15px;
	top:-20px;
	float:left;
	z-index:999;
	position:relative;
	padding:5px 10px;
}
.small-blog-thumb-txt a {
	color:#ffffff;
}
.footer-cont {
	width:100%;
	float:left;
	background:#222222;
	color:#ffffff;
}
.footer-heading {
	width:100%;
	float:left;
	color:#0d98d9;
	font-size:22px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
	padding:14px 15px;
	background:url(../images/footer-line.jpg) #111111 15px 7px no-repeat;
	font-weight:300;
	padding-top:20px;
}
.leftline {
	border-left:#444444 solid 1px;
	min-height:300px;
}
.rightline {
	border-right:#444444 solid 1px;
	min-height:300px;
}
.footer-link {
	width:100%;
	float:left;
}
.footer-link ul {
	margin:10px 0px 0px 15px;
	padding:0px;
}
.footer-link ul li {
	list-style:none;
	padding:0px 0px 5px 0px;
}
.footer-link ul li a {
	color:#ffffff;
}
.footer-link ul li a:hover {
	color:#777777;
}
.copyrights {
	padding:10px 0px 10px 0px;
	border:#444444 solid 1px;
	border-bottom:none;
}
.copyrights .top-social a {
	color:#ffffff;
	border:#ffffff solid 1px;
}
.carousel-indicators li {
	border: 1px solid #222222;
	border-radius: 10px;
	background:#222222;
}
.inner-pagecont {
	width:100%;
	float:left;
	margin-top:150px;
}
.product-details {
}

.prodetails-txt1 {
	margin-bottom:40px;
}

.prodetails-txt1 p {
	margin-bottom:25px;
}
.btn1 {
	background:#00a0e5;
	color:#ffffff;
	padding: 5px 18px 5px 18px;
	text-transform:uppercase;
}
.btn1:hover {
	background:#444444;
	color:#ffffff;
}
.prodetails-txt1 h2 {
	color:#222222;
	font-size:38px;
	text-align:center;
	margin-bottom:25px;
}
.product-feature1 {
	width:100%;
	float:left;
}
.product-feature1 {
        min-height: 280px;
	text-align:center;
	margin-top:40px;
	margin-bottom:40px;
}
.product-feature-heading {
	font-size:28px;
	color:#00a0e5;
	line-height:34px;
}
.product-feature1 p {
	margin-bottom:15px;
}
.btn2 {
	background:#222222;
	color:#ffffff;
	padding: 5px 18px 5px 18px;
	text-transform:uppercase;
}
.btn2:hover {
	background:#444444;
	color:#ffffff;
}
.inner-heading {
}
.inner-heading h3 {
	font-size:43px;
	color:#222222;
	text-align:center;
	background:url(../images/line2.jpg) center bottom no-repeat;
	padding-bottom:10px;
	text-transform:uppercase;
	margin-bottom:40px;
	margin-top:40px;
}
.product-details-cont {
	border:#e8e8e8 solid 1px;
	border-bottom:none;
}
.product-list {
	padding-top:25px;
}
.product-list strong {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:26px;
	font-weight:400;
	color:#222222;
	width:100%;
	float:left;
	min-height:45px;
	vertical-align:middle;
	display:table-cell;
}
.product-list ul {
	margin:15px 0px 15px 0px;
	padding:0px;
	width:100%;
	float:left;
}
.product-list ul li {
	list-style:none;
	background:url(../images/listicon1.png) left top no-repeat;
	padding: 0px 0px 7px 24px;
}
.borderbottom {
	border-bottom:#e8e8e8 solid 1px;
	margin-bottom:25px;
}
.profeature-img {
	text-align:left;
}
.innerpage-heading {
	width:100%;
	float:left;
	background:url(../images/inner-banner-bg.jpg) no-repeat;
	padding:50px 0px 50px 0px;
}
.services-cont {
	margin-top:112px;
}
.inner-pagecont h1 {
	text-align:center;
	color:#ffffff;
	font-size:47px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
}
.services-innertxt {
	width:100%;
	float:left;
	margin-top:40px;
	margin-bottom:40px;
}
.services-innertxt1 {
	text-align:center
}
.service-thumb {
	margin-top:20px;
	margin-bottom:20px;
}
.service-thumbimg {
}
.service-thumb-txt {
	background:#f0ab00;
	height:75px;
	display:table;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:24px;
	width:100%;
	float:left;
	text-align:center;
	text-transform:uppercase;
}
.service-thumb-txt a {
	color:#ffffff;
	display:block;
}
.service-thumb-txt2 {
	display:table-cell;
	vertical-align:middle;
}
.services-left {
}
.services-left ul {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.services-left ul li {
	list-style:none;
	font-weight:400;
	display:inline-block;
	background:url(../images/listicon1.png) left top no-repeat;
	padding:0px 25px 10px 25px;
	font-weight:600;
}
.services-left strong {
	font-weight:600;
}
.services-right {
}
.request-from-cont {
	width:100%;
	float:left;
	border:#dddddd solid 1px;
	padding:10px;
}
.request-from-heading {
	width:100%;
	float:left;
	background:#f0ab00;
	padding:5px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	font-size:22px;
	color:#ffffff;
	margin-bottom:15px;
}
.request-from-cont .form-control {
	border-radius: 0px !important;
}
.services-left img {
	float:left;
	margin-right:20px;
}
.request-msg {
	height:100px !important;
}
.btn {
	border-radius: 0px !important;
}
.services-list {
	width:100%;
	float:left;
	border:#dddddd solid 1px;
	padding:10px;
	margin-top:25px;
}
.services-list ul {
	margin:0px;
	padding:0px;
}
.services-list ul li {
	list-style:none;
	border-bottom:#eeeeee solid 1px;
	padding:7px 0px 7px 0px
}
.services-list ul li:last-child {
	border-bottom:none;
	padding-bottom:0px;
}
.services-list ul li a {
	color:#555555;
}
.services-list ul li a:hover {
	color:#000000;
}
.services-list ul li:before {
	content: "\f138";
	font-family: 'FontAwesome';
}
.service-list-heading {
	width:100%;
	float:left;
	background:#00a0e5;
	padding:5px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	font-size:22px;
	color:#ffffff;
	margin-bottom:15px;
}
.port-image {
	width: 100%;
}

.each-item {
	position:relative;
	overflow:hidden;
}
.each-item:hover .cap2, .each-item:hover .cap1 {
	left:0px;
}
.cap1 {
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	top:0px;
	left:-100%;
	padding:10px;
	transition: all .5s;
	color:#ffffff;
	text-align:center;
	
}
.cap1 a {
	color:#ffffff;
	display:block;
	height:100%;
	padding-top:35%;
	padding-bottom:35%;
}
.cap2 {
	position:absolute;
	width:100%;
	height:30%;
	background:rgba(0, 178, 255, 0.5);
	bottom:0px;
	left:100%;
	padding:10px;
	transition: all .5s;
}
.filter-list {
	text-align:center;
	text-transform:uppercase;
}
.filter-list .btn {
	text-transform:uppercase;
	font-size:16px;
	border:none;
}
.filter-list .btn:hover {
	background:#f0ab00;
}
.filter {
	margin-bottom:30px;
}


.filter-list .btn-default:focus {
	color: #222222;
	background-color: #f0ab00;
}



/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0683c9;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  
  header.smaller {
    height: 95px; }
	
	
	.logo img
	{
		-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	}
	header.smaller .logo img
	{
		width:150px;
	}
	
	  header.smaller .header-row1
	  {
		  display:none;
	  }
  

/* =Footer
-------------------------------------------------------------- */
/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }


.prodetails-txt1 h1
{
	color:#222222;
	margin-bottom:10px;
        margin-top:0.5em
}
.contactUs { float:left; width:100%; padding:3em 0 }
.enquiryHead { margin-bottom:3em }
.enquiryHead h3, .locationInfo h3 { text-transform:uppercase; margin-bottom:1em }
.contactForm { width:80%; margin:0 auto }
.contactForm .form-control { border-radius:0; border:1px solid #e1e1e1; min-height:50px; resize:none }
.contactForm .btn1 { padding:10px 30px; font-size:16px;width:220px }
.locationInfo { float:left; width:100%; padding-top:3em; border-top:1px solid #e7e7e7 }


/*.product-details-cont 
{
  min-height: 360px;
}*/
.demo{margin-bottom: -99999px;padding-bottom: 99999px;}
.equalheight {overflow: hidden;}